<% content_for :title do %>
  Forum
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "forum.css" %>
<% end %>
<% @posts.each do |post| %>
 <div class="post">

    <div class="replies_box"> <%= post.responses.count %>
      <div style="font-size:14px;"> replies</div>
    </div>  

    <div class="post_title">
       <%= link_to post.title, url_for(post)  %> 
    </div>

    <div class="post_started">
      <%= post.user.display_name %> 
      |
      <%= post.get_formatted_post_time %>
    </div>

  </div> 
<% end %>
