<% content_for :title do %>
  <%= @post.title %>
<% end %>
<%= render "#{@post.post_type}view" %>

<%= form_for(@response, :remote => true) do |f| %>
  <%= hidden_field_tag :post_id, @post.id %>
  <div id="wmd-editor" class="wmd-panel">
    <div id="wmd-button-bar"> </div>
    <%= f.text_area :content, :id=>'wmd-input' ,:style => 'height:100px' %>
  </div>
  <div class="action">
    <%= f.submit 'Add Response' %>
    <div id="response_status_div" name="response_status_div"></div>
  </div>
<% end %>

<% @post.responses.all.each do |response| %>
  <h6> <%= response.title %></h6>

  <h6> <%= response.user.full_name %> | <%= response.get_formatted_post_time %></h6>

  <div class="post_contents">
<%= raw response.content %>
  </div> 
<% end %>
<script type="text/javascript">
  wmd_options = { "output" : "Markdown" };
  $(document).ready(function()
  {
    $("#new_post")
    .bind("ajax:loading", function(evt, data, status) { $("response_status_div").text("Submitting.."); });
    $("#new_post")
    .bind("ajax:success ajax:failure", function(evt, data, status, xhr) 
      { 
        $("#response_status_div")
          .html( xhr.responseText == 'Y'
             ? "Response updated." : "Failed to record response.")
          .effect("highlight"); 
      });
        var converter = new Attacklab.showdown.converter();
        $(".post_contents").each(function()
          { this.innerHTML = converter.makeHtml($(this).text()); });
    });
</script>


<script type="text/javascript" src="/javascripts/wmd/wmd.js"></script>
